footer{
    width: 60%;
    margin: 0 auto;
    background-color: $footer-color;
    padding: 1%;
   
    section{
   
    display: flex;
    justify-content: space-between;
    ul{
        width: 83%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            display: flex;
            flex-direction: column;
            width: 19%;
            margin-bottom: 3%;
            a{
                margin-bottom: 3%;
                text-decoration: none;
                color: black;
                font-size: calc($font-size - 0.1vw);
                &:hover{
                    color: $red;
                }
                &:first-child{
                   
                    margin-bottom: 7%;
                }
            }
            
        }
    }
    // ================ footer right ===============
    .footer-right{
        width: 17%;
        display: flex;
        flex-direction: column;
        div{
            display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        b{
            font-size: calc($font-size - 0.1vw);
            margin-bottom: 7%;
        }
        span{
            display: flex;
            justify-content: space-around;
            i{
                font-size: calc($font-size + 0.6vw);
                color: $red;
                cursor: pointer;
                &:hover{
                    color: $gray;
                    transform: scale(1.2);
                }
            }
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
            a{
                width: 100%;
                img{
                    width: 90%;
                    &:hover{
                    transform: scale(1.2);
                    }
                }
            }
        }

        .cookies{
            text-decoration: none;
            color: black;
            font-size: calc($font-size - 0.1vw);
            margin-top: 5%;
            &:hover{
                color: $red;
            }
        }
    }
    }
    }
    hr{
        margin: 1% 0;
    }
    // ================= FOOTER Bottom ===================
    
   .footer-bottom{
       display: flex;
       justify-content: space-between;
       .footer-logo{
           a{
            font-size: calc($font-size - 0.2vw);
            text-decoration: none;
            color: $gray;
            display: flex;
            align-items: center;
               img{
                   width: 3vw;
               }
               

           }
       }
       div{
           a{
            font-size: calc($font-size - 0.2vw);
            text-decoration: none;
            color: $gray;
            &:hover{
                color: $red;
            }
           }
           span{
               font-size: $font-size;
               color: $gray;
           }
       }
   }
//    ================== English =============
.en{
    width: 100%;
    text-align: right;
    a{
        text-decoration: none;
        font-size: calc($font-size - 0.1vw);
        color: black;
        i{
            margin-left: 1%;
        }
        &:hover{
            color: $red;
        }
    }
   
}
}