*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(255, 255, 255, 0.822);
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1.7%;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    nav{
        width: 65%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            img{
                width: calc($font-size + 3.1vw);
            }
        }
        ul{
            width: 85%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5% 0.3%;                
                a{
                    text-decoration: none;
                    font-size:$font-size;
                    color: black;
                }
                &:nth-child(n+1):nth-child(-n+3){
                 flex-grow: 1;
                }
            }
        }
    }
    // ============= search and menu ===========
    div{
        width: 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            img{
              width: calc($font-size + 0.3vw);
            }
        }
    }
}