main {
  // ================== Six boxes =============
  .six-boxes {
    width: 100%;
    padding: 0 2%;
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .box {
      width: 32%;
      margin-bottom: 3%;
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .box-text {
        width: 100%;
        h2 {
          font-weight: lighter;
          font-size: calc($font-size + 0.1vw);
        }
        p {
          font-size: calc($font-size - 0.1vw);
          margin-top: 2%;
        }
      }
      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: $font-size;
        margin-top: 2%;
        cursor: pointer;
        i {
          font-size: $font-size;
        }
        &:hover{
          opacity: 0.5;
      }
      }

      // ====== form =====
      form {
        display: inline-flex;
        input {
          width: 100%;
          font-size: $font-size;
          padding: 1%;
        }
        a {
          padding: 2% 4%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          background-color: #414042;

          i {
            font-size: $font-size;
            color: white;
          }
          &:hover{
            background-color: $red;
        }
        }
      }

      // ================ coloring divs ===========
      &:nth-child(1) {
        color: black;
        background-color: #cac4be;
      }
      &:nth-child(2) {
        color: white;
        background-color: $red;
      }
      &:nth-child(3) {
        color: white;
        background-color: $dark-red;
      }
      &:nth-child(4) {
        color: black;
        background-color: $light-gray;
      }
      &:nth-child(5) {
        color: white;
        background-color: #414042;
      }
      &:nth-child(6) {
        color: white;
        background-color: $gray;
      }
    }
  }
  // ============== middle-long-text ============
  .middle-long-text {
    text-align: center;
    font-size: calc($font-size - 0.1vw);
    padding: 0 10%;
    color: $gray;
    cursor: help;
  }

  // ============ Sending-receiving ============
  .sending-receiving {
    .sending-receiving-text {
      p {
        font-size: calc($font-size + 0.7vw);
        text-align: center;
        margin: 2% 0;
      }
    }
    .sending-receiving-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .sending-receiving-left {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2%;
          a {
            img {
              width: 2vw;
            }
          }
          span {
            width: 90%;
            h2 {
              color: $red;
              font-size: $font-size;
            }
            p {
              font-size: $font-size;
            }
          }
          &:nth-child(1) {
            background-color: $light-gray;
            position: relative;
            &::before {
              content: "";
              width: 10vw;
              height: 0;
               border-top: 2.6vw solid transparent;
               border-left: 3vw solid $light-gray;
              position: absolute;
              left: 100%;
              top: 0;
            }
             &::after {
               content: "";
               width: 10vw;
               height: 0;
                border-top: 2.4vw solid transparent;
                border-left: 3vw solid $light-gray;
               position: absolute;
               left: 100%;
               bottom: 0;
               transform: rotateX(180deg);
             }
          }
        }
      }
      .sending-receiving-right {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          img {
            width: 100%;
          }
        }
        button {
          background-color: $red;
          width: 50%;
          padding: 2% 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: $font-size;
          border: none;
          outline: none;
          margin-top: 2%;
          cursor: pointer;
          &:hover{
            opacity: 0.7;
        }
        }
      }
    }
  }

  // ============== girl with earth ================
  .Sustainability {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 0;
    a {
      width: 48%;
      img {
        width: 100%;
      }
    }
    .Sustainability-text {
      width: 48%;
      p {
        font-size: calc($font-size + 0.7vw);

        letter-spacing: 0.1vw;
      }
      ul {
        padding-left: 5%;
        margin: 3% 0;
        li {
          font-size: $font-size;
          // list-style-position: inside;
        }
      }
    }
    button {
      width: 50%;
      padding: 2% 0;
      border: none;
      background-color: $red;
      outline: none;
      font-size: $font-size;
      color: white;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
    }
    }
  }

  // ================= Online shops =============
  .online-shops {
    width: 100%;
    margin: 5% 0;
    p {
      font-size: calc($font-size + 0.7vw);
      text-align: center;
    }
    .online-shops-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5% 0;
      div {
        display: flex;
        justify-content: space-between;
        p {
          font-size: $font-size;
          text-align: start;
          b {
            font-size: $font-size;
          }
        }
        &:nth-child(1) {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $light-gray;
          padding: 0 1%;
          position: relative;
          a {
            img {
              width: 8vw;
            }
          }
          &::after {
            content: "";
            width: 0;
            height: 0;
             border-right: 3vw solid transparent;
            border-top: 4.9vw solid $light-gray;
            position: absolute;
            top: 0;
            left: 100%;

          }
        }
        &:nth-child(2) {
          width: 40%;
          
          button{
              width: 40%;
              margin-left: 3%;
              background-color: $red;
              border: none;
              outline: none;
              color: white;
              font-size: $font-size;
              cursor: pointer;
              &:hover{
                opacity: 0.7;
            }
          }
        }
      }
    }
  }

//   ================== Careers ===============
  .careers{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
      margin: 4% 0;
      div{
          width: 48%;
        h2{
            font-weight: lighter;
            font-size: calc($font-size + 0.4vw);
        }
        p{
            margin: 3% 0;
            font-size: $font-size;
        }
        .career-btns{
            width: 100%;
            display: flex;
            justify-content: space-between;
            button{
                width: 48%;
                padding: 2% 0;
                color: white;
                font-size: $font-size;
                border: none;
                outline: none;
                cursor: pointer;
                &:nth-child(1){
                    background-color: $red;
                    &:hover{
                      opacity: 0.7;
                  }
                }
                &:nth-child(2){
                    background-color: $gray;
                    &:hover{
                      background-color: $red;
                    }
                }
                
            }
        }
      }
      a{
          width: 48%;
          img{
            width: 100%;
          }
      }
  }

//   ======================= Related news ===============
  .related-news{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5% 0;
      .related-news-top{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          h2{
              font-size: calc($font-size + 0.5vw);
              font-weight: lighter;
          }
          span{
            font-size: calc($font-size - 0.1vw);
            display: flex;
        justify-content: space-around;
        align-items: center;
        width: 8%;
            a{
                img{
                    width: 1.3vw;
                }
            }
            &:hover{
              opacity: 0.7;
              transform: scale(1.2);
          }
          }
      }
    //   ========== middle ===========
    .related-news-middle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 3% 0;
        .related-news-middle-container{
            width: 48%;
            display: flex;
            justify-content: space-between;
            .related-news-text{
                width: 50%;
                padding: 2%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                div{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    
                    b{
                        font-size: calc($font-size + 0.3vw);
                    }
                    p{
                        font-size: $font-size;
                        margin: 5% 0;
                    }
                }
                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                    width: 100%;
                    font-size: $font-size;
                    &:hover{
                      opacity: 0.7;
                  }
                }
            }
            a{
                width: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &:nth-child(1){
                .related-news-text{
                    background-color: #cac4be;
                    a{
                        color:black;
                    }
                }
            }
            &:nth-child(2){
                .related-news-text{
                    background-color:$red ;
                    color: white;
                    a{
                        color:black;
                    color: white;
                    }
                }
            }
        }
    }
    // =========== btn =======
    button{
        width: 30%;
        padding: 1% 0;
        border: none;
        background-color: $red;
        outline: none;
        color: white;
        font-size: $font-size;
        cursor: pointer;
        &:hover{
          opacity: 0.7;
      }
    }
  }

  // ===================== Customer ===============
  .customer{
    overflow: scroll;
    background-color: $light-gray;
    padding: 3%;
    margin: 5% 0;
    &::-webkit-scrollbar{
      height: 0.5vw;
      width: 0;
       
  }
  &::-webkit-scrollbar-thumb{
    background-color: $gray;
    border-radius: 1vw;
  }

    .custuomer-container{
      display: flex;
      width: 130%;
      white-space: nowrap;
      div{
        width: 20%;
        white-space: normal;
        margin-right: 4%;
        a{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2%;
          img{
             width: 5vw;
          }
        }
        p{
          font-size: calc($font-size - 0.1vw);
        }
      }
    }
  }

  // =============== INFOS =====================
  .infos{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 5% 0;
    div{
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1%;
      height: 8vw;
      h2{
        font-size: calc($font-size + 0.3vw);    
        font-weight: lighter;    
        color: white;
      }
      p{
        font-size: $font-size;
        color: white;

      }
      a{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: $font-size;
        text-decoration: none;
        color: white;
        &:hover{
          opacity: 0.7;
      }


      }
      &:nth-child(1){
        background-color: $red;
      }
      &:nth-child(2){
        background-color: $dark-red;
      }
      &:nth-child(3){
        background-color: $gray;
      }

    }
  }
}
